.container {
  padding: 16px;

  .mat-toolbar {
    --mat-toolbar-container-background-color: var(--mat-sys-primary-fixed);
    --mat-toolbar-container-text-color: var(--mat-sys-on-secondary-fixed);
    border-radius: 8px;
    box-shadow: var(--mat-sys-level3);
  }

  .title {
    display: flex;
    align-items: center;
    cursor: pointer;

    mat-icon {
      margin-right: 6px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  a {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: var(--mat-sys-on-secondary-fixed);
    font: var(--mat-sys-body-large);

    mat-icon {
      margin-right: 4px;
    }

    @media screen and (max-width: 959px) {
      span {
        display: none;
      }
    }
  }

  .separator {
    margin: 0 8px;
  }

  .underline {
    text-decoration: underline;
  }

  @media screen and (max-width: 959px) {
    .title {
      font: var(--mat-sys-body-large);
    }

    a {
      font: var(--mat-sys-body-medium);
    }
  }
}
