mat-form-field {
  margin-top: 0.5rem;
  width: 50%;
}

.container {
  overflow: auto;
  height: 62vh;
  border-radius: 0.5rem;

  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }

  tr {
    &:not(.no-hover):hover {
      background: var(--mat-sys-secondary);
      color: var(--mat-sys-background);
    }

    &.expired:hover {
      background-color: var(--mat-sys-error);
      color: var(--mat-sys-background);
    }
  }

  .action-header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      margin-right: 0.5rem;
    }
  }

  .first-column {
    width: 25%;
  }

  .last-column {
    width: 150px;
  }

  .action-cell {
    display: flex;
    justify-content: space-between;
  }

  .expired {
    color: var(--mat-sys-error);
  }

  mat-icon {
    cursor: pointer;
  }

  .no-data {
    display: flex;
    justify-content: center;

    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1.25;

    @media (min-width: 768px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
