:host {
  --mat-chip-outline-color: var(--mat-sys-secondary);
  --mat-button-text-label-text-color: var(--mat-sys-on-surface);
}

.wrapper {
  height: inherit;

  .half {
    width: calc(50% - 4px);

    @media screen and (max-width: 959px) {
      width: 100%;
    }
  }

  .spacer {
    margin-left: 8px;

    @media screen and (max-width: 959px) {
      margin-left: unset;
    }
  }

  .container {
    height: var(--ym-filter-container-height);
    margin-top: 12px;
    margin-bottom: 18px;
    overflow: auto;
    border-radius: 0.5rem;

    @media screen and (max-width: 959px) {
      height: var(--ym-filter-container-height);
      margin-top: 6px;
      margin-bottom: 0;
    }

    .mat-mdc-table-sticky-border-elem-left {
      border-right: 1px solid #e0e0e0;
    }

    .mat-mdc-table-sticky-border-elem-right {
      border-left: 1px solid #e0e0e0;
    }

    tr {
      &:not(.no-hover):hover {
        background: var(--mat-sys-secondary);
        color: var(--mat-sys-background);
        --mat-chip-label-text-color: var(--mat-sys-background);
        --mat-chip-outline-color: var(--mat-sys-background);
        --mat-button-text-label-text-color: var(--mat-sys-background);
      }

      &.expired:hover {
        background-color: var(--mat-sys-error);
        color: var(--mat-sys-background);
        --mat-chip-label-text-color: var(--mat-sys-background);
        --mat-chip-outline-color: var(--mat-sys-background);
        --mat-button-text-label-text-color: var(--mat-sys-background);
      }

      &.in-use:hover {
        background-color: var(--mat-sys-primary-fixed);
        color: var(--mat-sys-background);
        --mat-chip-label-text-color: var(--mat-sys-background);
        --mat-chip-outline-color: var(--mat-sys-background);
        --mat-button-text-label-text-color: var(--mat-sys-background);
      }
    }

    .action-header {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      span {
        margin: 0 0.5rem;
      }
    }

    .first-column {
      width: 25%;
    }

    .name-column {
      font: var(--mat-sys-body-large);
      font-weight: 700;
    }

    .company-column {
      font: var(--mat-sys-label-medium);
      font-style: italic;
    }

    .last-column {
      width: 150px;
    }

    .action-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
      transition: all 0.3s ease;

      span {
        font: var(--mat-sys-body-large);
      }

      mat-icon:hover {
        scale: 1.4;
      }
    }

    .expired {
      color: var(--mat-sys-error);
      --mat-chip-outline-color: var(--mat-sys-error);
    }

    .in-use {
      color: var(--mat-sys-primary-fixed);
      --mat-chip-outline-color: var(--mat-sys-primary-fixed);
    }

    mat-icon {
      cursor: pointer;
    }

    .no-data {
      display: flex;
      justify-content: center;

      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 700;
      letter-spacing: -0.025em;
      line-height: 1.25;

      @media (min-width: 768px) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
}
