.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  max-width: 1280px;
  height: 100%;

  .card {
    text-align: center;

    .title {
      margin-bottom: 1rem;
      font-size: 4.5rem;
      line-height: 1;
      font-weight: 800;

      @media (min-width: 1024px) {
        font-size: 8rem;
        line-height: 1;
      }
    }

    .line-one {
      margin-bottom: 1rem;
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 700;
      letter-spacing: -0.025em;
      color: #6b7280;

      @media (min-width: 768px) {
        font-size: 2.25rem;
        line-height: 2.5rem;
      }
    }

    .line-two {
      margin-bottom: 1rem;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 300;
      color: #6b7280;
    }

    .go-back {
      margin-top: 1rem;
    }
  }
}
